/*FULL-PAGE STYLES*/
  /* Style for our header texts
         * --------------------------------------- */
         h1{
         font-size: 5em;
         font-family: arial,helvetica;
         color: #fff;
         margin:0;
         margin-top: 30px;
         }
         .intro p{
         color: #fff;
         font-size: 20px;
         font-family: sans-serif;
         }
         /* Centered texts in each section
         * --------------------------------------- */
         .section{
         text-align:center;
         }
         /* Overwriting styles for control arrows for slides
         * --------------------------------------- */
         .controlArrow.prev {
         left: 50px;
         }
         .controlArrow.next{
         right: 50px;
         }
         /* Bottom menu
         * --------------------------------------- */
         #infoMenu li a {
         color: #fff;
         }
/*GENERAL STYLES*/

.photo {
    width: 100%;
    height: 100%;
}

.test-your {
    margin-top: 40px;
}

cite {
    color: white;
    font-family: sans-serif;
    
}

/*INTRO SLIDE*/

/*CODE MODIFIED FROM: https://css-tricks.com/perfect-full-page-background-image/*/
html {
      background: url('../images/title-page-small.gif')  fixed;
    background-repeat: no-repeat;
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#intro-text {
    font-weight: bold;
    font-size: 30px;
    margin-top: 500px;
    margin-bottom: 2px;
    color: white;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: darkblue;
    text-decoration: none;
    font-family: sans-serif;
}


/*FIRST PAGE*/
/*SLIDE ONE*/

.dos-images {
    margin: 10px;
    padding: 0px;
    display: inline-block;
    border: solid 10px #ea4200;
    border-radius: 20px;
}

.do-dont {
    display: inline-block;
    margin: 30px;
}
.do {
    margin-right: 400px;
    
}
.left {
    margin-right: 30px;
}

.yellow-border {
    border-radius: 20px;
    border: 10px solid #eaa500;
    height: 200px;
    width: 350px;
}
.right {
    margin-left: 300px;
}

.simple-width {
    width: 300px;
    text-align: left;
}

.main-p {
    margin: 20px;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    text-align: left;
    width: 600px;
    
}

/*SLIDE TWO*/
/*SLIDE THREE*/

/*SECOND PAGE*/

#section1 {
    background-color:#eaa500;
}

.section1-paragraph {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hair-texture-image {
    width: 400px;
    height: 450px;
    /*float: left;*/
    margin-left: 70px;
}
.image-align {
    margin: auto;
}

.image-inline {
    display: inline-block;
    
}

 .hair-tips {
    list-style-type: circle;
    font-size: 19px;
    text-align: left;
    margin-left: 40px;
    margin-top: 40px;
 }
 .lilly-pad {
    padding: 10px;
 }
 .flt-right {
    float: right;
 }
.test {
    display: flex;
  
}
/*SLIDE ONE*/
/*SLIDE TWO*/
/*SLIDE THREE*/
/*SLIDE FOUR*/
/*SLIDE FIVE*/
/*SLIDE SIX*/

/*THIRD PAGE*/
#section2 {
    background-color: #ea4200;
}

.m-paragraph {
    width: 75%;
    text-align: center;
    display: table;
    margin: auto;
}

.m-explanation {
    width: 350px;
    font-size: 9px;
   
}

.tub-photo {
    background-image: url('../images/tub.png');
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
   display: inline-block;
   margin-right: 30px;
   margin-left: 30px;
   text-align: center;
}
.petro-water {
    display: inline;
    padding: 100px;
}
.p-w {
    margin-left: 400px;
}
/*FOURTH PAGE*/

#section3 {
    background-color: #04bcc2;
}
.quote {
    margin-bottom: 0px;
} 
.shamp-list {
    display: table;
    margin: auto;
}
.shamp-li {
    display: inline-block;
    margin-bottom: 0px;
}


.lil-space {
    padding: 40px;
}
.shampoo-text {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 200px;
    width: 200px;
}
.pesticide-text {
    margin-left: 80px;
    margin-bottom: 0px;
    float: left;
    width: 200px;
}

.bleach-text {
   
    margin-bottom: 5px;
    text-align: center;
    width: 200px;
}

.metal-text {
    margin-right: 80px;
    margin-bottom: 5px;
    float: right;
    width: 200px;
}
/*FIFTH PAGE*/

#section4 {
    background-color: #eaa500;
}


/*SIXTH PAGE*/

#section5 {
    background-color: #ea4200;
    
}
.video {
    border: none;
}

/*QUIZ PAGE*/

#section6 {
    background-color: #04bcc2;
}

.new-height {
    height: 250px;
}

/*QUIZ CSS: Information from https://codepen.io/gcarino/pen/LDgtn*/
body {
    font-family: Open Sans;
}

h1 {
    text-align: center;
}

#title {
    text-decoration: none;
}

#quiz {
    text-indent: 10px;
    display:none;
}

.button {
    border:4px solid;
    border-radius:5px;
    width: 40px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    background-color: #DCDCDC;
    color: black;
    margin: 0 2px 0 2px;
}

.button.active {
    background-color: #F8F8FF;
    color: #eaa500;
}

button {
    position: relative;
    float:right;
}

.button a {
    text-decoration: none;
    color: black;
}

#container {
    width:50%;
    height: 20%;
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: #ea4200;
    border:4px solid #B0E0E6;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prev {
    display:none;
}

#start {
    display:none;
    width: 90px;
}



/*GENERAL STYLING: PRODUCTS SECTION*/

h2 {
    color: white;
    font-family: sans-serif;
    
}

ul {
    color: white;
    font-family: sans-serif;
}

.products {
    margin-left: 5%;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 20px;
}

.products-dv {
    margin-bottom: 70px;
    margin-top: 10px;
    
}

.product-list {
      list-style-type: none;
      display: inline;
      margin: 20px;
      margin-top: 0px;
}

.left-space {
    float: left;
}

.hide-me {
    display: none;
}

.hide-me:hover {
    display: inherit;
}


.changing-text {
    display: none;
}
  


/*PETROLEUM BASED PRODUCT*/
.petroleum-product {
    width: 75%;
    height: 160px;
    padding-top: 110px;
    border-radius: 20px;
    margin: 0px;
    display: inline-block;
    
}


.dyes {
    height: 7%;
    width: 100%;
    background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#d6fff2, #4dcca6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d6fff2, #4dcca6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d6fff2, #4dcca6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d6fff2,#4dcca6); /* Standard syntax */
    
    border-radius: 5px;   
    
}

/*HOVER STATE*/

.dyes:hover {
    
    height: 7%;
    width: 100%;
    background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#c4562f, #7c290b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c4562f, #7c290b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c4562f, #7c290b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c4562f,#7c290b); /* Standard syntax */
    
    border-radius: 5px;   
    
}

.natural-oils {
    height: 10%;
    width: 100%;
    background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#dee8a7, #8b993d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#dee8a7, #8b993d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#dee8a7, #8b993d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#dee8a7, #8b993d); /* Standard syntax */
    border-radius: 5px;    
}

/*HOVER STATE*/
.natural-oils:hover {
    
    height: 10%;
    width: 100%;
    background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#c4562f, #7c290b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c4562f, #7c290b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c4562f, #7c290b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c4562f,#7c290b); /* Standard syntax */
    
    border-radius: 5px;   
    
}


.mineral-oil {
    height: 33%;
    width: 100%;
    background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#eac791, #b28339); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#eac791, #b28339); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#eac791, #b28339); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#eac791, #b28339); /* Standard syntax */
    border-radius: 5px;    
}

/*HOVER STATE*/
.mineral-oil:hover {
    
    height: 33%;
    width: 100%;
    background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#c4562f, #7c290b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c4562f, #7c290b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c4562f, #7c290b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c4562f,#7c290b); /* Standard syntax */
    
    border-radius: 5px;   
    
}
    
.petroleum {
    height: 50%;
    width: 100%;
    background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#dbd9d6, #91908e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#dbd9d6, #91908e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#dbd9d6, #91908e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#dbd9d6, #91908e); /* Standard syntax */
    border-radius: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/*HOVER STATE*/
.petroleum:hover {
    
    height: 50%;
    width: 100%;
    background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#c4562f, #7c290b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c4562f, #7c290b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c4562f, #7c290b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c4562f,#7c290b); /* Standard syntax */
    border-radius: 5px;   
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
/*WATER BASED PRODUCT*/
.water-product {
    width: 75%;
    height: 160px;
    padding-top: 110px;
    border-radius: 20px;
    display: inline-block;
}


.dyes2 {
    height: 7%;
    width: 100%;
    background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#d6fff2, #4dcca6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d6fff2, #4dcca6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d6fff2, #4dcca6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d6fff2,#4dcca6); /* Standard syntax */
    
    border-radius: 5px;   
    
}

/*HOVER STATE*/
.dyes2:hover {
    
    height: 7%;
    width: 100%;
    background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#c4562f, #7c290b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c4562f, #7c290b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c4562f, #7c290b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c4562f,#7c290b); /* Standard syntax */
    
    border-radius: 5px;   
    
}
.natural-oils2 {
    height: 43%;
    width: 100%;
    background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#dee8a7, #8b993d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#dee8a7, #8b993d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#dee8a7, #8b993d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#dee8a7, #8b993d); /* Standard syntax */
    border-radius: 5px;    
}

/*HOVER STATE*/
.natural-oils2:hover {
    
    height: 43%;
    width: 100%;
    background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#c4562f, #7c290b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c4562f, #7c290b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c4562f, #7c290b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c4562f,#7c290b); /* Standard syntax */
    
    border-radius: 5px;   
    
}
    
.water {
    height: 50%;
    width: 100%;
    background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f2f7ff, #c1d9ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f2f7ff, #c1d9ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f2f7ff, #c1d9ff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f2f7ff, #c1d9ff); /* Standard syntax */
    border-radius: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/*HOVER STATE*/
.water:hover {
    
    height: 50%;
    width: 100%;
    background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#c4562f, #7c290b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c4562f, #7c290b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c4562f, #7c290b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c4562f,#7c290b); /* Standard syntax */
    border-radius: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

